main.seccion-letras{
    div.letras{
        display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    min-height: 100%;
    .panel{
        display: grid;
    grid-template-columns: 1fr;
    .text{
        background: $color-crema;
    color: #323230;
    padding: 30px 60px;
    }
    }
        div.panel.izquierda{
            background: $color-grisoscuro;
    padding: 30px 60px;
    grid-auto-rows: 1fr;
            div{
                h2{
                    color: $color-crema;
    font-size: 3em;
                }
                p{
                    color: #a8a8a8;
    max-width: 540px;
    line-height: 2em;
                }
                
            }
            
        }
        div.panel.medio{
            grid-template-rows: 3fr 1fr;
    overflow: hidden;
            img{
                min-height: 100%;
    min-width: 100%;
            }
            div.text{
                background: $color-crema;
    color: #323230;
    padding: 30px 60px;
                h2{

                }
                p{
                    
                }
            }

        }
        div.panel.derecha{
            grid-template-rows: 1fr 3fr;
    overflow: hidden;
            div.text{
                h2{

                }
                p{

                }
            }
            img{
                min-height: 100%;
    min-width: 100%;
            }
        }
    }
}