main.seccion-noticias{
    margin-bottom: -25px;
    h1.titulo-principal{
        margin-top: 0px;
    color: black;
    max-width: 1200px;
    margin: 40px auto;
    margin-top: 0px;
    border-bottom: 1px solid #bbc7c7;
    }
    section.grid-container{
        display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: 20px auto;
        article.principal{
            margin: 20px;
            grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    border-bottom: 1px solid #bbc7c7;
    padding-bottom: 40px;
            img{
                width: 100%;
    border: 4px solid black;
    border-radius: 8px;
            }
            div{
                h2{
                    margin-top: 0px;
    color: black;
                    p{
                        color: black;
                    }
                }
            }
        }
        article {
            img{
                div{
                    h3{
                        margin-top: 0px;
    color: black;

                    }
                    p{
                        color: black;
                    }
                }
            }
        }
        article{
            margin: 20px;
            img{
                width: 100%;
    border: 4px solid black;
    border-radius: 8px;
            }
            p{
                margin: 20px 10px;
            }
            h3{
                margin: 20px 10px;
            }
        }
    }
}