main.seccion-tour {
            div.agotado{
                border-bottom: 1px solid #e2e2e2;
        cursor: pointer;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
                div{
                    h3{
    
                    }
                }
                .lugar-tour{
                    p{
                    }
                }

                div {
                        .boton-soldout{
                            @include boton-soldout;
                        }
                    }
                }
            }
            .comprar{
                border-bottom: 1px solid #e2e2e2;
        cursor: pointer;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
                div{
                    h3{
    
                    }
                }
                .lugar-tour{
                    font-weight: 700;
                    p{
    
                    }
                }
                div{
                    .boton-comprar{
                        @include boton-comprar;
                    }
                }
                
            }
        
        .boton-data{
            display: flex;
    justify-content: center;
            a{
            p.boton-fechas{
                background-color: #fff;
    border-radius: 0;
    border: 2px solid rgba(0, 0, 0, .7);
    color: #000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 18px;
    padding: 6px 32px;
    letter-spacing: 1px;
    text-align: center;
    transition: all .3s ease;
    position: relative;
    display: inline-block;
    overflow: visible;
    margin-bottom: 25px;
    margin: 25px;
    text-align: center;
            }
            }
        }

