//
@media screen and (max-width:1200px) {
    .fotos-contenedor {
       
        flex-wrap: wrap;
    }

    .fotos-2 img {
        
        margin-top: 15px;
        width: 50%;
        margin-left: 15px;
    }

    .thumb {
        flex-direction: column;
        @include center;
    }

    .thumb a img {
        width: 75%;
    }

    .noticias div img {
        width: 900px;
        height: 600px;

    }

    .noticias div {
        width: 100%;
        height: 100%;
        text-align: start;
        display: inline-block;
        margin: 25px;
    }

    .fotos-2 img {
        width: 784px;
        height: 522.66px;

    }

    .item-1 {
        margin-right: 10px;
    }
}

.btn-group {
    display: none;
}

@media screen and (max-width:1050px){
    
    
    
    .noticias{
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
    }

    .noticias p {
        display: none;
    }

}


@media screen and (max-width:900px) {
    .noticias div img {
        width: 430px;
        height: 300px;
        justify-content: center;
    }
}

@media screen and (max-width:715px) {

    h1 {
        a{
            img{

                width: 100% !important;
            }
        }
    }

    .header-left,
    .header-right {
        display: none;
    }

    .logo {
        justify-content: end;
    }

    .btn-group {
        display: block;

    }

    .btn-group button {
        background-color: black;
    }

    .btn-group ul li a {
        color: black;
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
    }
}

@media screen and (max-width:600px) {

    h1 img {
        width: 100%;
        width: 25vh;
        
    }
}

@media screen and (max-width:470px) {

    h1 {
        a{
            img{

                width: 100% !important;
            }
        }
    }
}

@media screen and (max-width:550px) {

    h1 img {

        width: 25vh;
        
    }

    .noticias div img {
        width: 300px;
        height: 250px;
        justify-content: center;
    }

}


@media screen and (max-width:820px) {


    .fotos-2 img {
        width: 784px;
        height: 522.66px;
        margin: 15px;
    }
}

@media screen and (max-width:800px) {

    .item-1 {
        width: 880px;
        height: 70%;
        margin: 15px;
    }

    .fotos-2 img {
        width: 100%;
        height: 100%;
        margin: 15px;
    }
}

@media screen and (max-width:535px) {

    .item-1 {
        width: 535px;
        height: 70%;
        margin: 15px;
    }

    .fotos-2 img {
        width: 100%;
        height: 100%;
        margin: 15px;
    }
}

@media screen and (max-width:430px) {

    .item-1 {
        width: 430px;
        height: 70%;
        margin: 15px;
    }

    .fotos-2 img {
        width: 100%;
        height: 100%;
        margin: 15px;
    }
}

// SECCION NOTICIAS

@media screen and (max-width: 980px) {
    article {
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: center;
    }
}

@media screen and (max-width: 760px) {

    article,
    article.principal {
        display: block;
        margin: 0 20px;
    }
}

// SECCION LETRAS

@media screen and (max-width: 1400px) {
    main.seccion-letras {
        div.letras {
            grid-template-columns: 1fr 1fr;
            div.panel.derecha {
                grid-column: span 2;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
            }
        }
    }

    
}

@media screen and (max-width: 960px) {
    main.seccion-letras {
        
        div.letras {
            grid-template-columns: 1fr;
            grid-template-rows: 500px 400px 400px;
            div.panel.medio {
                grid-column: span 2;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                img{
                    width: 100%
                }
            }
            div.panel.derecha {
                img{
                    width: 100%
                }
            }
            div.letra-contenedor{
                display:flex;
                div{
                    flex-direction: row;
                }
            }
        }
    }

    
}

@media screen and (max-width: 680px) {
    main.seccion-letras {
        
        div.letras {
            grid-template-rows: 700px 600px 600px;
            div.panel.medio {
                grid-column: span 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid #dcdcd0;
                img{
                    width: 100%
                }
            }
            div.panel.derecha {
                grid-column: span 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid #dcdcd0;
            }
            
        }
    }

}


@media screen and (max-width: 480px) {
    main.seccion-letras {
        
        div.letras {
            grid-template-rows: 350px 300px 300px;
            div.panel.medio {
                grid-column: span 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid #dcdcd0;
                img{
                    width: 100%
                }
            }
            div.panel.derecha {
                grid-column: span 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid #dcdcd0;
            }
        }
    }

}


// SECCION FOTOS

@media screen and (max-width: 960px) {
    main.seccion-fotos {
        div.div-fotos {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 620px) {
    main.seccion-fotos {
        div.div-fotos {
            grid-template-columns: 1fr;
            max-width: 400px;
            margin-top: 20px;
        }
    }
}




